
__pycache__/
*.py[cod]
*$py.class


venv/
.env/
.env.bak/
.venv/

*.env
.env.local
.env.*.local

build/
dist/
*.egg-info/
.eggs/
*.egg

logs/
*.log
*.tmp
*.bak

.coverage
.pytest_cache/
.tox/
.nox/
.cache/
htmlcov/

.gradio/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db

# leaderboard.csv


instance/
*.db
*.sqlite3
*.sqlite
